:root{
    --blue300 : #93c5fd;
    --white: white;
    --gray: #d1d5db;

}
html{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
}
body {
    background-color: var(--blue300);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

header{
    box-shadow: inset -1px 0px 1px 1px rgba(128, 128, 128, 0.1);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
}

#actions{
    background-color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#booklist{
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.bookcard{
    padding: 10px 30px;
    margin: 10px 30px;
    border-radius: 7px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto);
}

.bookcard h4,p{
    margin-top: 15px;
    margin-bottom: 15px;;
}

dialog form{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5px;
}

input:invalid{
    border-color: read;
}
